@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto+Slab&display=swap");

.heading {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
}

.text {
  font-family: "Oxygen", serif;
  font-size: 1.2rem;
}
